{% extends 'base.html.twig' %}

{% block title %}Mon pokédex !{% endblock %}

{% block body %}
    <h1>{{ nbPkm }}</h1>
    <h1>{{ nb_by_evol }}</h1>
    <h1>{{ nb_by_base }}</h1>
    {% for nbType in nb_by_type %}
        <h1>{{ nbType }}</h1>
    {% endfor %}
{% endblock %}
