{% extends 'base.html.twig' %}

{% block title %}Dommage !{% endblock %}

{% block body %}
    <div class="container" style="padding: 10px;">
        <div class="row">
            <div class="col">
                <p class="lead text-justify border rounded border-warning shadow" style="color: #ffffff;background-color: #1e2833;padding-right: 10px;padding-left: 10px;">Mince ! Il s'est échapé ! Tu réussiras la prochaine fois, {{ pkm }} a prit 50 points d'expérience !</p>
            </div>
        </div>
    </div>
{% endblock %}